{% extends 'portfolio/base.html' %}

        {% block content %}


        <div class="home">
            <img src="./Coca-Cola-9-1120x700.png" alt="">
            <p>We made this place to connect all <i>CocaCola</i> lovers and drinkers to post their point of view and
                share it
                with the world .
                feel free to sign up and use out service for <b>free!</b> <br />
                <a href="/signup" style="color: #f40009; text-decoration: underline;">sign up </a>
            </p>
        </div>

        {% endblock %}
