
{% extends 'portfolio/base.html' %}

{% block content %}

<h1>CocaCola</h1>

{% load static %}  


<br>

<img src="{% static 'portfolio/images/coca.jpg' %}" height=400 width=600>

<br>
<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolor vel dolorum provident, ex labore obcaecati. Distinctio dolore soluta libero nulla provident cumque facere, nihil voluptates, in, numquam temporibus dicta.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum natus adipisci beatae iste, cumque praesentium aliquid officia quas, impedit magnam voluptatem error inventore recusandae quis eligendi velit consectetur totam cupiditate.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto a velit perspiciatis harum, at nostrum magnam dignissimos, repellendus rerum vero quis perferendis reiciendis dolores numquam maxime soluta minima voluptas!
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam architecto obcaecati quos perferendis velit porro. Ratione dolorum sunt laboriosam, ipsum excepturi repudiandae tempora inventore iste incidunt, voluptatum hic in reprehenderit.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus at laboriosam quibusdam consequatur itaque architecto nisi eligendi velit optio, suscipit maiores esse voluptatibus. Labore iure commodi earum nobis dolores incidunt?
</p> 
<br>
<footer>
    <ul>
        <li>CocaCola</li>
        <li>Tell: 021452164</li>
        <li>Email: <a href="mailto:mohadeseh.ansari98@gmail.com">mohadeseh.ansari98@gmail.com</a></li>
        <li>adress: Tehran,Enghelab,P22</li>
    </ul>
</footer>
{% endblock %}