
{% extends 'portfolio/base.html' %}

{% block content %}

        <div class="blog-posts">


        {% for i in blog %}

            <div class="blog-card">



                    <div class="bpp">
                        <div class="bppr">
                        <a href="{% url 'blog:detail' i.id %}">
                         <h2>{{ i.title }}</h2>

                        </a>
                            <p>{{ i.discription|safe|truncatechars:180 }}</p>

                        </div>

                    </div>


                </div>


                <div class="bpb">
                    <a href="{% url 'blog:detail' i.id %}" target="_blank" class="btn-moreb">Read more</a>
                    <div class="bpbi">
                        <small>Author : mahi</small>
                        <small>{{ i.date }}</small>
                    </div>
                </div>

            </div>

        {% endfor %}


        </div>


{% endblock %}