
{% extends 'portfolio/base.html' %}

{% block content %}
            <div class="blog-card">



                    <div class="bpp">
                        <div class="bppr">
                         <h2>{{ b.title }}</h2>

                            <p>{{ b.discription|safe|truncatechars:180 }}</p>

                        </div>

                    </div>


                </div>


                <div class="bpb">
                    <div class="bpbi">
                        <small>Author : mahi</small>
                        <small>{{ b.date }}</small>
                    </div>
                </div>

            </div>


{% endblock %}